name: Publish new version of documentation
on:
  repository_dispatch:
    types:
      - push-tag
jobs:
  publish_docs:
    name: Publish tagged documentation
    runs-on: ubuntu-latest
    steps:
      - name: Install Playwright Dependencies
        uses: microsoft/playwright-github-action@v1

      - id: get_version
        run: |
          ref=${{ github.event.client_payload.ref }}
          version=$(echo "$ref" | cut -d / -f 3)
          dir=$(echo "$version" | cut -d . -f 1-2)
          dir=$(echo "$dir" | cut -d \~ -f 2)
          echo "{version}={$version}" >> $GITHUB_OUTPUT
          echo "{destination_dir}={$dir}" >> $GITHUB_OUTPUT
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: output config
        run: |
          node --version
          npm --version
          echo "destination version is ${{ steps.get_version.outputs.version }}"
          echo "destination dir is ${{ steps.get_version.outputs.destination_dir }}"

      - name: add compiler
        run: |
          npm -g install @qooxdoo/framework@${{ steps.get_version.outputs.version }}

      - name: Build API Viewer
        run: qx deploy --target=build -v --clean

      - name: Create API data
        run: |
          npm ci 
          node compiled/deploy-node/createclassdb/index.js html/resource/apidata
          node compiled/build-node/createclassdb/index.js html/resource/apidata

      - name: Run Tests
        run: |
          npx playwright install
          qx test --target=build -v

      - name: Deploy to GH page
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./html
          destination_dir: ${{ steps.get_version.outputs.destination_dir }}
